* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Kanit', sans-serif;
  zoom: 65%;
}

header {
  height: 100px;
  display: flex;
  align-items: center;
  padding: 20px 36px;
  box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.1);
  background-color: #9F021E;
}

.header-title {
  font-weight: bold;
  text-decoration: none;
  font-family: 'Dancing Script', cursive, bold;
  font-size: 70px;
  align-items: left;
  margin-right: auto;
  color: #000000;
  cursor: pointer;
}

.image-icon-header {
  height: 50px;
  width: 50px;
  display: inline;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  cursor: pointer;
}

.header-tree-count {
  width: 336px;
  height: 66px;
  background-color: #f3cc64;
  margin-right: 2.5rem;
  border-radius: 10px;
}

.header-tree-count-text {
  position: relative;
  padding-top: 13px;
  font-size: 30px;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.subheader {
  height: 80px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 20px 36px;
  box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.subheader-title {
  align-items: center;
  margin-bottom: 2rem;
  margin-right: auto;
  margin-left: auto;
}


.slideshow-container {
  position: relative;
  width: 1500px;
  height: 800px;
  overflow: hidden;
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5rem;
  margin-top: 3rem;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 1;
  transition: opacity 1000ms ease-out;
}

.popup-container {
  text-decoration: none;
  width: 100%;
  height: 100%;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-body {
  text-decoration: none;
  height: 220px;
  width: 400px;
  font-size: 20px;
  position: absolute;
  right: 0;
  text-align: center;
  margin: auto;
  border-radius: 15px;
  border-color: black;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

.account-shade {
  align-items: center;
  background-color: #f3cd6436;
  height: 770px;
  font-size: 30px;
  margin-top: 6rem;
}

.centered-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.form {
  display: flex;
  font-weight: bold;
}

.form-group {
  margin-bottom: 15px;
}

.form-group-textarea {
  margin-left: 10px;
  margin-bottom: 15px;
  display: flex;
  align-items: top;
}

.right-field {
  margin-bottom: 15px;
}

.left-field {
  margin-bottom: 15px;
}

label {
  display: inline-block;
  text-align: right;
  width: 200px;
  padding-right: 20px;
  padding-left: 10px;
  font-size: 20px;
  font-family: 'Kanit', sans-serif;
}

input {
  font-size: 20px;
  padding-left: 20px;
  margin-left: 25px;
  height: 49px;
  width: 308px;
  margin-bottom: 15px;
  border: 0;
}

.hobbies-input {
  margin-left: 7px;
  font-family: 'Kanit', sans-serif;
  font-size: 20px;
  text-align: left;
  padding-left: 15px;
  padding-top: 10px;
  width: 400px;
  border: 0;
  height: 100px;
}

.outline-input {
  padding-left: 15px;
  padding-top: 10px;
  margin-left: 7px;
  font-family: 'Kanit', sans-serif;
  font-size: 20px;
  height: 150px;
  text-align: left;
  border: 0;
  width: 400px;
}

.form-buttons {
  display: flex;
  padding-bottom: 10rem;
  bottom: 0;
  align-items: center;
  position: absolute;
}

button {
  font-weight: bold;
  font-size: 20px;
  margin: 0 20px;
  width: 300px;
  height: 49px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  justify-content: center;
  border: 0;
}

.save-button {
  background-color: #27AD6D;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.yes-button {
  background-color: #27AD6D;
  margin-top: 10px;
  padding: 8px 16px;
  cursor: pointer;
}

.no-button {
  background-color: #9F021E;
  margin-top: 10px;
  padding: 8px 16px;
  cursor: pointer;
}

.trees-shade {
  align-items: center;
  background-color: #f3cd6436;
  height: 770px;
  width: 1500px;
  font-size: 30px;
  border-radius: 10px;
  margin-top: 6rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.card-grid {
  padding-top: 75px;
  padding-left: 60px;
  align-items: left;
  display: grid;
  grid-template-rows: repeat(4, 130px);
  grid-template-columns: repeat(9, 118px);
  gap: 30px;
  margin: 40px;
}

.card {
  cursor: pointer;
  background-color: #ffffff;
  width: 118px;
  height: 130px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.icon {
  border: solid 1px;
  width: 70px;
  height: 70px;
  margin-top: 10px;
  font-size: 24px;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}

.text {
  margin-top: auto;
  padding: 8px;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-family: 'Kanit', sans-serif;
  font-size: 15px;
}

.details-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-popup {
  margin-top: 100px;
  background-color: #F6CF00;
  width: 1600px;
  height: 900px;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

textarea {
  max-width: 300px;
  max-height: 250px;
  width: 100%;
  height: 70%;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.details-popup button {
  padding: 8px 16px;
  cursor: pointer;
}

.select-size-dropdown {
  width: 308px;
  height: 49px;
  border: 0;
  font-size: 20px;
  padding-left: 15px;
  margin-left: 25px;
  margin-bottom: 13px;
}

.image-icon-delete {
  height: 50px;
  width: 50px;
  display: inline;
  cursor: pointer;
}